<app-navigationtoolbar></app-navigationtoolbar>

<ion-content>

  <ion-card class="popular">
    <ion-card-header class="text-center">
      <ion-label><h2>Enter Your Details To Order</h2></ion-label>
    </ion-card-header>

    <ion-card-content>
      <form [formGroup]="userDetails">
        <div class="input-data">
          <p>Name</p>
          <ion-item>
            <ion-input formControlName="userName" [(ngModel)]="user.name"></ion-input>
          </ion-item>
        </div>
  
        <div class="input-data">
          <p>Mobile No.</p>
          <ion-item>
            <ion-input formControlName="phone" [(ngModel)]="user.phone"></ion-input>
          </ion-item>
        </div>
  
        <div class="input-data">
          <p>Village</p>
          <ion-item>
            <ion-input formControlName="village" [(ngModel)]="user.village"></ion-input>
          </ion-item>
        </div>
  
        <div class="input-data">
          <p>Landmark</p>
          <ion-item>
            <ion-input formControlName="landmark" [(ngModel)]="user.landmark"></ion-input>
          </ion-item>
        </div>
      </form>
    </ion-card-content>
  </ion-card>

</ion-content>

<ion-footer>
  <ion-button class="placeOrderBtn" (click)="placeOrder()">Place Order
  </ion-button>
</ion-footer>
