<ion-toolbar>
  <ion-buttons slot="start">
    <ion-menu-button auto-hide="false"></ion-menu-button>
  </ion-buttons>
  <ion-buttons slot="primary">
    <ion-button>
      <ion-icon slot="end" class="profile_icon" ios="ellipsis-horizontal" md="person-circle-outline"></ion-icon>
    </ion-button>
  </ion-buttons>

  <ion-title>User Details</ion-title>
</ion-toolbar>

<ion-content>

  <ion-card class="popular">
    <ion-card-header class="text-center">
      <ion-label><h2>Enter Your Details To Order</h2></ion-label>
    </ion-card-header>

    <ion-card-content>
      
      <div class="input-data">
        <p>Name</p>
        <ion-item>
          <ion-input></ion-input>
        </ion-item>
      </div>

      <div class="input-data">
        <p>Mobile No.</p>
        <ion-item>
          <ion-input></ion-input>
        </ion-item>
      </div>

      <div class="input-data">
        <p>Village</p>
        <ion-item>
          <ion-input></ion-input>
        </ion-item>
      </div>

      <div class="input-data">
        <p>Landmark</p>
        <ion-item>
          <ion-input></ion-input>
        </ion-item>
      </div>
    </ion-card-content>
  </ion-card>

</ion-content>
