
ion-content{
    --background: url('../../assets/icon/splash.jpg') 0 0/100% 100% no-repeat;
    
    ion-card{
        border-radius: 20px;
        margin-top: 20%;
        height: 50%;
        text-align: center;
        background: black;
        opacity: 0.7;
        .profileIcon{
            width: 90px;

        }
        h1{
            color: red;
            text-align: center;
        }
        ion-button{
            --background:white;
            text-transform: none;
            color: black;
            img{
                width: 30px;
                margin-right: 10px;
            }
        }
    }
    .margin{
        margin-top: 30px;
    }
}