<!-- <ion-backdrop *ngIf=""></ion-backdrop> -->
<ion-toolbar>
  <ion-buttons slot="start">
    <ion-menu-button auto-hide="false"></ion-menu-button>
  </ion-buttons>
  <ion-buttons slot="primary">
    <ion-button>
      <ion-icon slot="end" class="profile_icon" ios="ellipsis-horizontal" md="person-circle-outline"></ion-icon>
    </ion-button>
  </ion-buttons>

  <ion-title>Home</ion-title>
</ion-toolbar>

<ion-content>
  <ion-slides pager="true" autoplay="3000" loop>
    <ion-slide>
      <img src="https://www.industrialempathy.com/img/remote/ZiClJf-1920w.jpg">
    </ion-slide>
    <ion-slide>
      <img src="https://images.ctfassets.net/hrltx12pl8hq/7yQR5uJhwEkRfjwMFJ7bUK/dc52a0913e8ff8b5c276177890eb0129/offset_comp_772626-opt.jpg?fit=fill&w=800&h=300">
    </ion-slide>
    <ion-slide>
      <img src="https://img.rawpixel.com/s3fs-private/rawpixel_images/website_content/upwk61813380-wikimedia-image.jpg?w=800&dpr=1&fit=default&crop=default&q=65&vib=3&con=3&usm=15&bg=F4F4F3&ixlib=js-2.2.1&s=35040e9874b05a262b0e5ffdd27806cf">
    </ion-slide>
  </ion-slides>

  <div class="heading-content">
    <p class="heading-txt">Shop By Category</p>
    <ion-button shape="round" size="small" (click)="gotoProducts()">View All</ion-button>
    <ion-button shape="round" size="small" (click)="addProduct()">Add product</ion-button>

  </div>

  

  <ion-grid no-padding no-margin>
    <ion-row>
      <ion-col>
        <ion-card (click)="gotoYoutube()">
          <ion-card-header>
            <!-- <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
            <ion-card-title>Card Title</ion-card-title> -->
            <img src="https://www.industrialempathy.com/img/remote/ZiClJf-1920w.jpg">
          </ion-card-header>
        
          <ion-card-content>
            <h3>Our</h3>
          </ion-card-content>
        </ion-card>
      </ion-col>

      <ion-col>
        <ion-card (click)="gotoYoutube()">
          <ion-card-header>
            <!-- <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
            <ion-card-title>Card Title</ion-card-title> -->
            <img src="https://www.industrialempathy.com/img/remote/ZiClJf-1920w.jpg">
            </ion-card-header>
        
          <ion-card-content>
            <h3>Our</h3>
          </ion-card-content>
        </ion-card>
      </ion-col>
      
      <ion-col>
        <ion-card>
          <ion-card-header>
            <!-- <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
            <ion-card-title>Card Title</ion-card-title> -->
            <img src="https://www.industrialempathy.com/img/remote/ZiClJf-1920w.jpg">
          </ion-card-header>
        
          <ion-card-content>
            <h3>Our</h3>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <ion-card>
          <ion-card-header>
            <!-- <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
            <ion-card-title>Card Title</ion-card-title> -->
            <img src="https://www.industrialempathy.com/img/remote/ZiClJf-1920w.jpg">
          </ion-card-header>
        
          <ion-card-content>
            <h3>Our</h3>
          </ion-card-content>
        </ion-card>
      </ion-col>
      
      <ion-col>
        <ion-card>
          <ion-card-header>
            <!-- <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
            <ion-card-title>Card Title</ion-card-title> -->
            <img src="https://www.industrialempathy.com/img/remote/ZiClJf-1920w.jpg">
          </ion-card-header>
        
          <ion-card-content>
            <h3>Our</h3>
          </ion-card-content>
        </ion-card>
      </ion-col>
      
      <ion-col>
        <ion-card (click)="gotoYoutube()">
          <ion-card-header>
            <!-- <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
            <ion-card-title>Card Title</ion-card-title> -->
            <img src="https://www.industrialempathy.com/img/remote/ZiClJf-1920w.jpg">
          </ion-card-header>
        
          <ion-card-content>
            <h3>Our</h3>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>



  <div class="heading-content">
    <p class="heading-txt">Popular Across Market</p>
  </div>

  <ion-grid no-padding no-margin>
    <ion-row>
      <ion-col>
        <ion-card (click)="gotoYoutube()">
          <ion-card-header>
            <!-- <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
            <ion-card-title>Card Title</ion-card-title> -->
            <img src="https://www.industrialempathy.com/img/remote/ZiClJf-1920w.jpg">
          </ion-card-header>
        
          <ion-card-content>
            <h3>Our</h3>
          </ion-card-content>
        </ion-card>
      </ion-col>

      <ion-col>
        <ion-card (click)="gotoYoutube()">
          <ion-card-header>
            <!-- <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
            <ion-card-title>Card Title</ion-card-title> -->
            <img src="https://www.industrialempathy.com/img/remote/ZiClJf-1920w.jpg">
          </ion-card-header>
        
          <ion-card-content>
            <h3>Our</h3>
          </ion-card-content>
        </ion-card>
      </ion-col>
      
      <ion-col>
        <ion-card>
          <ion-card-header>
            <!-- <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
            <ion-card-title>Card Title</ion-card-title> -->
            <img src="https://www.industrialempathy.com/img/remote/ZiClJf-1920w.jpg">
          </ion-card-header>
        
          <ion-card-content>
            <h3>Our</h3>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <ion-card>
          <ion-card-header>
            <!-- <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
            <ion-card-title>Card Title</ion-card-title> -->
            <img src="https://www.industrialempathy.com/img/remote/ZiClJf-1920w.jpg">
          </ion-card-header>
        
          <ion-card-content>
            <h3>Our</h3>
          </ion-card-content>
        </ion-card>
      </ion-col>
      
      <ion-col>
        <ion-card>
          <ion-card-header>
            <!-- <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
            <ion-card-title>Card Title</ion-card-title> -->
            <img src="https://www.industrialempathy.com/img/remote/ZiClJf-1920w.jpg">
          </ion-card-header>
        
          <ion-card-content>
            <h3>Our</h3>
          </ion-card-content>
        </ion-card>
      </ion-col>
      
      <ion-col>
        <ion-card (click)="gotoYoutube()">
          <ion-card-header>
            <!-- <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
            <ion-card-title>Card Title</ion-card-title> -->
            <img src="https://www.industrialempathy.com/img/remote/ZiClJf-1920w.jpg">
          </ion-card-header>
        
          <ion-card-content>
            <h3>Our</h3>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
  

</ion-content>
